<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"> </script> 
    <script src="./javascripts/display.js"></script>

    <title>Google Maps Assignment</title>
    <style>
        #map {
            height:600px;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: #CCC;
        }
    </style>
</head>

      <body>
            <p><center><%=title%></center> </p>
            
            <div id="map"></div>

      </body>



</html>