<!DOCTYPE html>
<html>
  <head>
    <title>Registration Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" media="all" />
<!--     <link rel="stylesheet" type="text/css" href="css/demo.css" media="all" />
 -->    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="../javascripts/check.js"></script>
    <style>

            #div1 {padding:10px;border:1px solid #aaaaaa;}
            #div1 img {border: thin solid black; padding: 2px; margin:4px;}
            #div1 {height: 81px; width: 381px; text-align: center; display: table;}
            #div1 > p {display: table-cell; vertical-align: middle;}
            #div1 > img {margin: 1px;}
            img.dragged {background-color: lightgrey;}
    </style>

  </head>
  
  <body>
    <div class="container">
    <header>
    <h1><center>Sign Up</center></h1>
    </header>
    
    <div  class="form">
      <form id="registerform" method="post" action="/add"> 
        <p class="register">
          <label for="userid">Username :</label>
        </p> 
        <input id="userid" name="userid" placeholder="Username" required="" tabindex="1" type="text" autofocus /> 

        <p class="register">
          <label for="password">Password : </label> <a target="_blank" title="Password must be 7-20 characters in length, including 4 alpha characters, 1 numeric character(0,9) or 1 special character (!,#,$,%). The password is case sensitive and must not contain spaces or be the same as your userID"><img src="../images/question_marks.png" height="13px"/></a>
        </p>
        <label id="opass_indicator">        
          <input id="password" name="password" placeholder="Password" required="" tabindex="2" type="password" /> 
        </label>
        
        <div class="progress" style="width:70%">
          <div id="password_strength" class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
        </div>
         <span id="span10"></span> 
        
        <p class="register">
          <label for="confirm_password">Confirm Password :</label>
        </p> 
        <label id="pass_indicator">
          <input id="confirm_password" name="confirm_password" placeholder="Confirm Password" onfocusout="PasswordCheck()" required="" tabindex="3" type="password" />

        </label> 
  <!--       <span id="span10"></span>  -->

        
        <p class="register">
          <label for="email">Email</label>
        </p> 
        <input id="email" name="email" placeholder="example@domain.com" required="" tabindex="4" type="email" />
        
        <p class="register">
          <label for="confirm_email">Confirm Email</label>
        </p> 
        <label id="email_indicator">
          <input id="confirm_email" name="confirm_email" placeholder="example@domain.com" required="" tabindex="5" type="email" />
          <p>            <span id="span2"></span>          </p>
        </label>


        <p class="register">
          <label>Security Question 1</label>
        </p> 
        <label class="question"> 
          <select class="select-style" name="question1" id="question1" tabindex="6">
            <option  value="01">Sum of 2 + 3</option>
            <option value="02">Sum of 100 + 200</option>
            <option value="03" >23 X 100</option>
            <option value="04">Capital of India</option>
            <option value="05">Capital of USA</option>  
          </select>
        </label>
        <p class="register">          
          <label>
            Security Answer 1
          </label>
        </p>
        <input class="answer" name="answer1" id="answer1"  placeholder="Security Answer" required="" tabindex="7" type="text" />
        
        <p class="register">
          <label>Security Question 2</label>
        </p> 
        <label class="question"> 
          <select class="select-style" name="question2" id="question2" tabindex="8">
            <option value="01">Sum of 2 + 3     </option>
            <option value="02">Sum of 100 + 200 </option>
            <option value="03" >23 X 100    </option>
            <option value="04">Capital of India </option>
            <option value="05">Capital of USA </option> 
          </select>
        </label>
        <p class="register">          
          <label>
            Security Answer 2
          </label>
        </p>
        <input class="answer" name="answer2" id="answer2"  placeholder="Security Answer" required="" tabindex="9" type="text" />
        

        <p class="register">
          <label for="phone">Mobile phone</label>
        </p> 
        <label id="phone_indicator">
          <input id="phone" name="phone" maxlength="10" placeholder="" required="" tabindex="10" type="text" />
        </label>
        <span id="span3"></span>
        <br/>
        
        <p class="register">
          <label for="address">Address :</label>
        </p> 
        <textarea id="address" name="address" rows="5" cols="55" tabindex="11"></textarea>
        
        <p class="register">
          <label for="address">Areas of Interest :</label>
        </p> 

     
        <textarea id="area_of_interest" name="area_of_interest" rows="5" cols="55" tabindex="12"></textarea>

  
          <br> <h5>Drop images into the drop box: </h5>
            <img id="drag1" src="../images/SJSU.png" draggable="true" ondragstart="drag(event)" width="50" height="50" alt="SJSU" > &nbsp;&nbsp;&nbsp;&nbsp;
            <img id="drag2" src="../images/CISCO.png" draggable="true" ondragstart="drag(event)" width="50" height="50" alt="CISCO" > &nbsp;&nbsp;&nbsp;&nbsp;
            <img id="drag3" src="../images/Microsoft.png" draggable="true" ondragstart="drag(event)" width="50" height="50" alt="Microsoft" > &nbsp;&nbsp;&nbsp;&nbsp;

            <br><br>
              <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"> Drop Images Here</div>
            <br>
       
        <input class="button" name="submit" id="submit" tabindex="13" value="Sign me up!" type="button" /> <span id="span4"></span> 

      </form> 
    </div>      
  </div>


 
  
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <img id="success-image" src="../images/match.png" width="50" height="50" style="display:none;"/>
        <img id="failure-image" src="../images/wrong.png" width="50" height="50" style="display:none;"/>
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div>
      
    </div>
    </div>
    

  
  </body>
</html>


